.index {
    background-color: var(--background);
    padding: 15vh 10vw;
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover;
}

.index .water {
    position: absolute;
}

.index__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: rgba(165, 42, 42, 0);
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0px 20px;
}

.index__container div {
    padding: 10%;
    height: 180px;

    /*border: 2px solid;*/

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    transform: scale(1.9);
    transition: 0.5s ease-in-out;
}
.index__container div:hover {
    transform: scale(2.2);
}

.index__footer {
    background-image: url("/assets/footer-EN-en.svg");
}

.index .main {
    transform: scale(1);
}

.index__contact {
    background-image: url("/assets/contact.svg");
}

.index__project-group {
    background-image: url("/assets/project-group.svg");
}

.index__project {
    background-image: url("/assets/project.svg");
}