.index .water {
    position: absolute;
    left: calc(100vw-(1655px/2));
    justify-self: center;
}

.index header {
    padding: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap-reverse;
    gap: 10px 10px;
}

.index header div:hover .flower {
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
}

.index section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 10px;
}

.index section .group-project-group {
    margin: 30px 0px;
}

.index section .f:hover {
    transform: scale(1.1);
        transition: ease-in-out 0.5s;
}

/*
image{
    height: 100%;
    width: 100%;
    clip-path: circle();
    object-fit: cover;
}
*/