.index {
    background-color: var(--background);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.index .water {
    position: absolute;
}

.index header {
    padding: 5%;
    border: 2px solid rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap-reverse;
    gap: 10px 10px;
}
.index header div {
    border: 2px solid rgba(255, 255, 255, 0);
}

.index header div:hover .flower {
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
}
