.project .zones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project .zone {
    width: 49%;
}

/* Zone Lake */
.project #zone-lake-left {
    margin-right: 1%;
}

.project .water-half {
    position: absolute;
    /*
    transform: scaleX(0.9);
    left: 50px; 
    */
}

.project nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    padding: 5% 5%;
}

.project .group-footer,
.project .group-main, .project .group-contact {
    transform: scale(0.8);
}

/* Zone Details */
.project #zone-project-details {
    padding: 0% 10%;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.project header {
    display: flex;
    align-items: center;
    justify-content: start;
}

.project header .flower {
    transform: rotate(22deg) scale(0.8);
    transition: ease-in-out 0.5s;
}
.project header .flower:hover {
    transform: scale(1);
}

.project .project-details {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.project-details a {
    color: var(--detail);
}

.project main {
    display: flex;
    flex-direction: column;
}

.project img {
    border-radius: 15px;
    width: 50%;
    align-self: center;
}

/* @Media */

@media screen and (max-width:800px) {
    .project .zones {
        gap: 5vh;
    }
    .project .zone {
        width: 100%;
    }

    .project nav {
        justify-content: center;
    }

}