/* cursor animation: z-index:14;*/

.text, h1, h2, h3, h4, h5, h6, p, a, form {
    position: relative;
    z-index: 12;
}

.btn, .color-mode, .EN-en, .PT-pt {
    z-index: 10;
}

.wooden-walkway {
    z-index: 9;
}

.flower, .f {
    z-index: 8;
}

.profile {
    z-index: 7;
}

.top-nenufar, .nenufar-small, .proj-img {
    z-index: 6;
}

.mid-nenufar {
    z-index: 4;
}

.bot-nenufar, .nenufar-big {
    z-index: 2;
}

.ripple {
    z-index: 1;
}

.top-water {
    z-index: 0;
    opacity: 25%;
}

.fish, .fish-blur {
    z-index: -1;
}

.bot-water, .water {
    z-index: -2;
}

.background {
    z-index: -3;
}